/*Standard HTML styles*/
* {
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar, ::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

a:link {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

body {
    font-size: 12pt;
    font-family: segoe-ui_normal,Segoe UI,Segoe,Segoe WP,Helvetica Neue,Helvetica,sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

p {
    margin-bottom: 10px;
    line-height: 1.5;
}
    p code {
        font-family: Consolas, monospace;
        padding: 1px 5px;
        font-weight: 600;
        border-radius: 3px;
    }

    .content-container li code {
        font-family: Consolas, monospace;
        padding: 1px 5px;
        font-weight: 600;
        border-radius: 3px;
    }

ul, ol {
    margin-bottom: 20px;
    line-height: 1.3em;
}

li {
    margin-top: .5em;
    margin-left: 25px;
    text-align: left;
}

img {
    border: 0;
}

table {
    width: 100%;
    overflow: auto;
    display: block;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 15px 0;
}


td, th {
    padding: 6px 13px;
    display: table-cell;
    vertical-align: top;
    line-height: 1.4em;
    text-align: left;
}

th {
    font-weight: bold;
}

blockquote {
    padding: 16px 32px 8px 24px;
    margin: 24px 16px;
}

h1, h2, h3, h4 {
    text-align: left;
}

/* Table of Contents (complete tree) */

.toc {
    position: fixed;
    width: 275px;
    top: 110px;
    bottom: 70px;
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 20px;
    -ms-transition: top .3s;
    -moz-transition: top .3s; /* Firefox 4 */
    -webkit-transition: top .3s; /* Safari and Chrome */
    -o-transition: top .3s; /* Opera */
    transition: top .3s;
    transition-timing-function: ease-in-out;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    z-index: 0;
}

    .toc.scrolled {
        top: 50px;
    }


/* Main content area */

.settings-container {
    font-size: .9em;
    margin: 10px 0;
    padding-top: 5px;
    padding-bottom: 10px;
    display: none;
    text-align: left;
}
    .settings-container>div {
        margin-left: 15px;
        margin-bottom: 10px;
        margin-right: 5px;
    }

    .option-label div {
        margin-left: 5px;
    }

    .settings-container .option-label select {
        width: 100%;
        margin-top: 5px;
    }

.content-container {
    margin-left: 300px;
    padding-top: 120px;
    padding-left: 30px;
    padding-right: 330px;
    padding-bottom: 100px;
    overflow-x: hidden;
    -ms-transition: top .3s, margin-left .3s, margin-right .3s, opacity .1s;
    -moz-transition: top .3s, margin-left .3s, margin-right .3s, opacity .1s; /* Firefox 4 */
    -webkit-transition: top .3s, margin-left .3s, margin-right .3s, opacity .1s; /* Safari and Chrome */
    -o-transition: top .3s, margin-left .3s, margin-right .3s, opacity .1s; /* Opera */
    transition: top .3s, margin-left .3s, margin-right .3s, opacity .1s;
    transition-timing-function: ease-in-out;
    line-height: 1.7;
    text-align: justify;
}

    .content-container.show-mobile-menu {
        margin-left: 300px;
        margin-right: -300px;
    }

    .content-container pre {
        margin-top: 25px;
        margin-bottom: 25px;
    }

    .content-container pre code.hljs {
        overflow-x: auto;
        overflow-y: hidden;
        padding-left: 8px;
        padding-right: 8px;
        line-height: 1.5em;
    }

    .content-container h1 {
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: 300;
        font-size: 2.4em;
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .content-container h2 {
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: 300;
        font-size: 1.8em;
        margin-top: 50px;
        margin-bottom: 30px;
    }

    .content-container h3 {
        font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
        font-weight: 300;
        font-size: 1.6em;
        margin-top: 40px;
        margin-bottom: 20px;
    }

    .content-container p {
        line-height: 1.7;
        text-align: justify;
    }

    .content-container li {
        line-height: 1.7;
    }

    .content-container img {
        max-width: 100%;
        margin-top: 20px;
        margin-top: 20px;
    }


/* The header contains the menu, logo, and similar elements */

.header {
    position: fixed;
    height: 110px;
    left: 0;
    right: 0;
    -ms-transition: height .3s, margin-left .3s, margin-right .3s, left .3s, right .3s;
    -moz-transition: height .3s, margin-left .3s, margin-right .3s, left .3s, right .3s; /* Firefox 4 */
    -webkit-transition: height .3s, margin-left .3s, margin-right .3s, left .3s, right .3s; /* Safari and Chrome */
    -o-transition: height .3s, margin-left .3s, margin-right .3s, left .3s, right .3s; /* Opera */
    transition: height .3s, margin-left .3s, margin-right .3s, left .3s, right .3s;
    transition-timing-function: ease-in-out;
}

    .header.show-mobile-menu {
        left: 300px;
        right: -300px;
    }

    .header.scrolled {
        height: 50px;
    }

    .header .logo {
        float: left;
        margin: 10px 0 0 10px;
        max-width: 280px;
        max-height: 85px;
        -ms-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s;
        -moz-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s; /* Firefox 4 */
        -webkit-transition: margin .3s, width .3s, height .3s, max-width .3s, max-heightall .3s; /* Safari and Chrome */
        -o-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s; /* Opera */
        transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s;
        transition-timing-function: ease-in-out;
        overflow: hidden;
    }

        .header.scrolled .logo {
            margin: 5px 0 0 10px;
            max-height: 40px;
        }

    .header .repositoryTitle {
        font-size: 1.8em;
        font-weight: 600;
        float: left;
        padding-left: 25px;
        padding-top: 25px;
        -ms-transition: padding .3s, font-size .3s;
        -moz-transition: padding .3s, font-size .3s; /* Firefox 4 */
        -webkit-transition: padding .3s, font-size .3s; /* Safari and Chrome */
        -o-transition: padding .3s, font-size .3s; /* Opera */
        transition: padding .3s, font-size .3s;
        transition-timing-function: ease-in-out;
    }

    .header .repositoryTitle.scrolled {
        font-size: 1.6em;
        padding-left: 15px;
        padding-top: 5px;
    }


    .header .menu {
        display: block;
        max-height: 110px;
        margin-left: 280px;
        margin-right: 20px;
        margin-top: 35px;
        -ms-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s;
        -moz-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s; /* Firefox 4 */
        -webkit-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s; /* Safari and Chrome */
        -o-transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s; /* Opera */
        transition: margin .3s, width .3s, height .3s, max-width .3s, max-height .3s;
        transition-timing-function: ease-in-out;
    }
    .header.scrolled .menu {
        display: block;
        max-height: 50px;
        margin-left: 150px;
        margin-right: 20px;
        margin-top: 15px;
    }

        .header .menu ul {
            font-size: 1.1em;
            float: right;
            font-weight: 200;
        }

            .header .menu ul li {
                float: left;
                list-style-type: none;
                margin: 0 4px 0 0;
            }

                .header .menu ul li a {
                    padding: 5px 10px;
                }

                .header .menu ul li a:hover {
                    text-decoration: none;
                }

    .header .mobile-menu-icon {
        display: none;
        float: left;
        cursor: pointer;
        margin: 16px 10px;
        font-size: 1.2em;
    }
        
    .toc .mobile-menu-items {
        display: none;
    }

    .toc.show-mobile-menu .mobile-menu-items {
        display: block;
    }

    .toc.show-mobile-menu {
        display: block;
    }

    .mobile-menu-items ul {
        list-style: none;
        padding-left: 0;
        padding-top: 5px;
    }

        .mobile-menu-items ul li {
            list-style: none;
            text-indent: 0;
            margin-left: 0;
            margin-top: 0;
            padding: 9px 0 9px 15px;
            font-weight: 300;
            font-size: 11pt;
            min-height: 25px;
            font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
            cursor: pointer;
        }

            .mobile-menu-items ul li a, .mobile-menu-items ul li a:visited, .mobile-menu-items ul li a:hover {
                text-decoration: none;
            }
    

/* Footer */

.navigation-footer {
    clear: both;
    margin-top: 50px;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s;
    -ms-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s;
    -moz-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s; /* Firefox 4 */
    -webkit-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s; /* Safari and Chrome */
    -o-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s; /* Opera */
    transition-timing-function: ease-in-out;
}

    .footer a {
        text-decoration: underline;
    }

    .footer.show-mobile-menu {
        left: 300px;
        right: -300px;
    }


/* Auto generated tags */

li.kava-auto-link {
    list-style-type: none;
    padding: 6px 10px 6px 10px;
    margin-bottom: 10px;
}
    li.kava-auto-link a:link {
        cursor: pointer;
        text-decoration: none;
    }
    li.kava-auto-link a:visited {
        cursor: pointer;
        text-decoration: none;
    }

.kava-recursive-topic {
    font-weight: bold;
    font-size: 1.5em;
}


/* Special markdown features */
.task-list-item {
    list-style-type: none;
}
.task-list-item-checkbox {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}
.task-list-item input[type="checkbox"] {
    margin: 0 0.2em 0.25em -1.6em;
    vertical-align: middle;
}

/* Right sidebar */

.sidebar {
    position: fixed;
    right: 5px;
    width: 275px;
    top: 130px;
    bottom: 50px;
    overflow-y: auto;
    -ms-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s, opacity .1s;
    -moz-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s, opacity .1s; /* Firefox 4 */
    -webkit-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s, opacity .1s; /* Safari and Chrome */
    -o-transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s, opacity .1s; /* Opera */
    transition: margin .3s, width .3s, top .3s, left .3s, right .3s, bottom .3s, height .3s, max-width .3s, max-height .3s, opacity .1s;
    transition-timing-function: ease-in-out;
}

    .sidebar select, .settings-container select {
        display: inline-block;
        overflow: auto;
        box-sizing: border-box;
        margin: 0;
        padding: 0 30px 0 6px;
        vertical-align: middle;
        height: 28px;
        font-size: .75rem;
        line-height: 16px;
        outline: 0;
        text-overflow: ellipsis;
        -webkit-appearance: none;
        -moz-appearance: none;
        cursor: pointer;
        background-image: -webkit-linear-gradient(45deg,transparent 50%,#707070 0),-webkit-linear-gradient(315deg,#707070 50%,transparent 0);
        background-image: linear-gradient(45deg,transparent 50%,#707070 0),linear-gradient(135deg,#707070 50%,transparent 0);
        background-position: -webkit-calc(100% - 13px) 11px,-webkit-calc(100% - 8px) 11px;
        background-position: calc(100% - 13px) 11px,calc(100% - 8px) 11px;
        background-size: 5px 5px,5px 6px;
        background-repeat: no-repeat;
    }

    .sidebar.scrolled {
        top: 70px;
    }

    .sidebar ul {
        list-style-image: none;
        list-style-position: outside;
        list-style-type: none;
    }

        .sidebar li {
            font-size: 10.5pt;
            line-height: 1.3em;
            padding-top: 5px;
            padding-left: 10px;
            padding-bottom: 5px;
            margin-left: 5px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

            .sidebar li a:link {
                cursor: pointer;
                text-decoration: none;
            }

            .sidebar li a:visited {
                cursor: pointer;
                text-decoration: none;
            }

            .sidebar li a:hover {
                cursor: pointer;
                text-decoration: none;
            }

            .sidebar li.outline-level-2 {
                padding-left: 20px;
            }
            .sidebar li.outline-level-3 {
                padding-left: 30px;
            }

#outlineSelect {
    display: none;
}

/* Narrow desktop display */

@media only screen and (max-width : 1200px) {
    .sidebar {
        display: none;
    }

    .content-container {
        padding-right: 15px;
        padding-left: 15px;
    }

    .settings-container {
        display: block;
    }
}

/* Tablets Portrait or Landscape and everything smaller */

@media only screen and (max-width: 1024px) {
    .header .menu {
        display: none !important;
    }

    .header {
        height: 50px;
    }

    .header .logo {
        margin: 5px 0 0 10px;
        max-height: 40px;
    }

    .header .repositoryTitle {
        font-size: 1.6em;
        padding-left: 15px;
        padding-top: 5px;
    }

    .header .mobile-menu-icon {
        display: block !important;
    }

    .toc {
        display: none;
        position: fixed;
        top: 0 !important;
        left: 0;
        width: 290px;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        -o-user-select: none;
        user-select: none;
        padding-right: 10px;
        z-index: -1;
    }

    .content-container {
        margin-left: 0px;
        padding-top: 70px;
    }

    .footer.scrolled {
        display: none;
    }

    blockquote {
        padding: 16px 20px 8px 20px !important;
        margin: 24px 0 !important;
    }

    .content-container {
        padding-top: 75px;
    }

    .content-container h1 {
        font-size: 2.4em;
        margin-top: 30px;
        line-height: 1.5em;
    }

    .content-container h2 {
        font-size: 1.6em;
        line-height: 1.5em;
    }

    .content-container h3 {
        font-size: 1.4em;
        line-height: 1.5em;
    }

    .content-container pre code.hljs {
        font-size: 1em !important;
        line-height: 1.4em;
    }
}


/* Kava Docs specific styles */

.topic-link {
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
}

    .topic-link a:link, .topic-link a:visited, .topic-link a:hover {
        cursor: pointer;
        text-decoration: none;
    }

    .toc.show-mobile-menu .topic-link a:link, .toc.show-mobile-menu .topic-link a:visited, .toc.show-mobile-menu .topic-link a:hover {
        cursor: pointer;
        text-decoration: none;
    }

.topic-level-0 {
    font-size: 12pt;
    line-height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.topic-level-1, .topic-level-2, .topic-level-3, .topic-level-4, .topic-level-5 {
    font-size: 10.5pt;
    line-height: 1.3em;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-left: 5px;
}

.option-label {
    font-size: .8em;
}

.topic-expanded {
    display: block;
}

.topic-collapsed {
    display: none;
}

.selected-topic>a {
    font-weight: bold;
}
    .selected-topic>a:visited {
        font-weight: bold;
    }
    .selected-topic>a:link {
        font-weight: bold;
    }

.caret {
    transform-origin: 50% 50% 0px;
    transition-delay: 0s, 0s;
    transition-duration: .15s, .15s;
    transition-property: transform, -webkit-transform;
    transition-timing-function: ease-in-out;
    overflow: hidden;
    float: right;
    height: 24px;
    width: 24px;
}

    .toc.show-mobile-menu .caret {
        padding: 0 10px;
    }

.caret-expanded {
    transform: rotate(90deg);
}

.caret-collapsed {
    transform: rotate(0deg);
}

.navigate-previous {
    float: left;
    padding: 5px 20px 5px 20px;
}

    .navigate-previous a:link {
        cursor: pointer;
        text-decoration: none;
    }

    .navigate-previous a:visited {
        cursor: pointer;
        text-decoration: none;
    }

    .navigate-previous a:hover {
        cursor: pointer;
        text-decoration: none;
    }

.navigate-next {
    float: right;
    padding: 5px 20px 5px 20px;
}

    .navigate-next a:link {
        cursor: pointer;
        text-decoration: none;
    }

    .navigate-next a:visited {
        cursor: pointer;
        text-decoration: none;
    }

    .navigate-next a:hover {
        cursor: pointer;
        text-decoration: none;
    }

.current-outline {
    width: 240px;
    overflow: auto;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 20px;
}


#tree-filter {
    width: calc(100% - 40px);
    padding: 8px 10px;
    background-image: none;
    border-radius: 4px;
    margin: 10px 0 20px 15px;
}
.show-mobile-menu #tree-filter {
    width: calc(100% - 40px);
    padding: 8px 10px;
    background-image: none;
    border-radius: 4px;
    margin: 20px 0 10px 15px;
}

div.nomnoml {
    max-width: 100%;
    overflow-x: auto;
}

#load-indicator {
    font-size: 5em;
    position: fixed;
    top: 50%;
    margin-top: -100px;
    left: 50%;
    margin-left: -40px;
    display: none;
}

.features-container {
    margin-top: -15px;
    margin-bottom: 30px;
}