-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
}

a:active {
    color: #12eb87;
}

body {
    background-color: white;
    color: Black;
}

p code {
    background-color: #f9f9f9;
    border: 1px solid rgb(230, 230, 230);
}

table {
    border-color: gray;
}

td, th {
    border: 1px solid #ddd;
}

th {
    color: white;
    background: #555;
}

tbody>tr:nth-child(even) {
    background: #eee;
}

blockquote {
    color: #333;
    background-color: rgba(25,118,210,.05);
    border-left: 8px solid #1e88e5;
}

.toc {
    background: #efefef;
    box-shadow: 1px 0 20px rgba(0, 0, 0, .2);
}

.content-container h1, .content-container h2 {
    color: #1e88e5;
}

.content-container h3 {
    color: #525252;
}

.header {
    background-color: #1e88e5;
    background-color: #1e88e5de;
}

.header .menu ul li a {
    color: white;
}

.header .repositoryTitle {
    color: white;
}

.header .mobile-menu-icon {
    color: white;
}
        
.toc.show-mobile-menu {
    color: white;
    background-color: rgb(39, 39, 39);
}

.mobile-menu-items {
    border-bottom: 1px solid rgb(203, 203, 203);
}

.settings-container {
    border-bottom: 1px solid rgb(203, 203, 203);
}

.mobile-menu-items ul li a, .mobile-menu-items ul li a:visited, .mobile-menu-items ul li a:hover {
    color: white;
}

.toc.show-mobile-menu ul li.neutral-menu-selected {
    border-left: 4px solid rgb(8, 57, 129);
    background-color: #03142e;
    background-color: rgba(8, 57, 129, 0.2);
}
    
.toc.show-mobile-menu ul li.neutral-menu:hover {
    border-left: 4px solid rgb(8, 57, 129);
}

.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(201, 201, 201);
}

    .footer a, .footer a:link, .footer a:visited, .footer a:hover {
        color: rgb(201, 201, 201);
    }

li.kava-auto-link {
    border-left: 6px solid rgb(226, 226, 226);
}
    li.kava-auto-link:hover {
        border-left: 6px solid #1e88e5;
    }
    li.kava-auto-link:hover a:link {
        color: #1e88e5;
    }
    li.kava-auto-link:hover a:visited {
        color: #1e88e5;
    }

li.kava-auto-link a:link, li.kava-auto-link a:visited {
    color: black;
}

.kava-recursive-topic {
    color: red;
}

.sidebar li {
    border-left: 1px solid #dddddd;
}
.sidebar li.selected {
    border-left: 2px solid #1e88e5;
    font-weight: bold;
    color: #1e88e5;
}

.sidebar li a:link, .sidebar li a:visited {
    color: black;
}

.sidebar li a:hover {
    color: rgb(8, 57, 129);
}

.sidebar select {
    background-color: white;
    color: black;
    border: 1px solid #888;
}

.settings-container select {
    background-color: #1a1a1a;
    color: rgb(203, 203, 203);
    border: 1px solid #2e2e2e;
}

@media only screen and (max-width: 1024px) {
    .content-container {
        background-color: white;
    }
}

.topic-link a:link, .topic-link a:visited {
    color: black;
}

.topic-link a:hover {
    color: rgb(8, 57, 129);
}

.toc.show-mobile-menu .topic-link a:link, .toc.show-mobile-menu .topic-link a:visited, .toc.show-mobile-menu .topic-link a:hover {
    color: white;
}

.selected-topic>a, .selected-topic>a:visited, .selected-topic>a:link {
    color: #1e88e5;
}

a.area-link, a.area-link:visited {
    color: rgb(8, 57, 129);
}

figure {
    color: rgb(8, 57, 129);
}

.navigate-previous, .navigate-next {
    background-color: #edf0f2;
    border-color: rgb(217, 220, 220);
    border-style: solid;
    border-width: 1px 1px 3px 1px;
}

    .navigate-previous a:link, .navigate-previous a:visited, .navigate-next a:link, .navigate-next a:visited {
        color: black;
    }

    .navigate-previous a:hover, .navigate-next a:hover {
        color: rgb(8, 57, 129);
    }

#tree-filter {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}
.show-mobile-menu #tree-filter {
    color: white;
    background-color: #555;
    border: 1px solid #2e2e2e;
}
    
.show-mobile-menu #tree-filter::placeholder {
    color: rgb(146, 146, 146);
}
.show-mobile-menu #tree-filter::-webkit-input-placeholder {
    color: rgb(146, 146, 146);
}
.show-mobile-menu #tree-filter:-moz-placeholder {
    color: rgb(146, 146, 146);
}
.show-mobile-menu #tree-filter::-moz-placeholder {
    color: rgb(146, 146, 146);
}
.show-mobile-menu #tree-filter::-ms-inputplaceholder {
    color: rgb(146, 146, 146);
}
.show-mobile-menu #tree-filter:-ms-inputplaceholder {
    color: rgb(146, 146, 146);
}


#load-indicator {
    color: #bbb;
}

.features-container {
    color: #444;
}