-webkit-scrollbar-thumb, body::-webkit-scrollbar-thumb, ::-webkit-scrollbar-thumb {
    background-color: #6e6e6e;
    outline: 1px solid #333;
}

a:link, a:visited {
    color: #034af3;
}

a:hover {
    color: #1d60ff;
}

a:active {
    color: #12eb87;
}

body {
    background-color: white;
    color: Black;
}


p code {
    background-color: white;
    border: 1px solid rgb(161, 161, 161);
}

table {
    border-color: #bbbbbb;
}

td, th {
    border: 1px solid #bbbbbb;
}

th {
    color: white;
    background: black;
}

blockquote {
    border-left: 8px solid black;
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.toc {
    box-shadow: 1px 0 20px rgba(0, 0, 0, .2);
}

.content-container h1, .content-container h2, .content-container h3 {
    color: Black;
}

.header {
    background-color: #1e88e5;
    background-color: #1e88e5de;
}

.header .menu ul li a {
    color: white;
}

.header .repositoryTitle {
    color: white;
}

.header .mobile-menu-icon {
    color: white;
}
        
.toc.show-mobile-menu {
    color: white;
    background-color: rgb(39, 39, 39);
}

.mobile-menu-items {
    border-bottom: 1px solid white;
}

.settings-container {
    border-bottom: 1px solid white;
}

.toc.show-mobile-menu ul li a, .toc.show-mobile-menu ul li a:visited, .toc.show-mobile-menu ul li a:hover {
    color: white;
}
    
.footer {
    background-color: rgba(0, 0, 0, 0.9);
    color: rgb(201, 201, 201);
}
    .footer a, .footer a:link, .footer a:visited, .footer a:hover {
        color: rgb(201, 201, 201);
    }

li.kava-auto-link {
    border-left: 6px solid black;
}
    li.kava-auto-link:hover a:link {
        text-decoration: underline;
    }
    li.kava-auto-link:hover a:visited {
        text-decoration: underline;
    }
li.kava-auto-link a:link, li.kava-auto-link a:visited {
    color: black;
}

.kava-recursive-topic {
    color: red;
}

.sidebar li {
    border-left: 1px solid #dddddd;
}
.sidebar li.selected {
    background-color: black;
    color: #dddddd;
}
.sidebar li.selected a:hover {
    background-color: black;
    color: white;
}

.sidebar li a:link, .sidebar li a:visited {
    color: black;
}

.sidebar li a:hover {
    color: rgb(8, 57, 129);
}

@media only screen and (max-width: 1024px) {
    .content-container {
        background-color: white;
    }
}

.topic-link a:link, .topic-link a:visited, .topic-link a:hover {
    color: black;
}

.toc.show-mobile-menu .topic-link a:link, .toc.show-mobile-menu .topic-link a:visited, .toc.show-mobile-menu .topic-link a:hover {
    color: white;
}

li.selected-topic {
    background-color: white;
    color: black;
}

li.selected-topic a, li.selected-topic a:visited, li.selected-topic a:link {
    color: black !important;
}

a.area-link, a.area-link:visited {
    color: black;
}

figure {
    color: black;
}

.navigate-previou, .navigate-nexts {
    background-color: #edf0f2;
    border-color: rgb(217, 220, 220);
    border-style: solid;
    border-width: 1px 1px 3px 1px;
}

    .navigate-previous a:link, .navigate-previous a:visited, .navigate-next a:link, .navigate-next a:visited {
        color: black;
    }

    .navigate-previous a:hover, .navigate-next a:hover {
        color: rgb(8, 57, 129);
    }

#tree-filter {
    color: #555;
    background-color: #fff;
    border: 1px solid #ccc;
}
.show-mobile-menu #tree-filter {
    color: black;
    background-color: white;
    border: 1px solid black;
}
.show-mobile-menu #tree-filter::placeholder {
    color: black;
}
.show-mobile-menu #tree-filter::-webkit-input-placeholder {
    color: black;
}
.show-mobile-menu #tree-filter:-moz-placeholder {
    color: black;
}
.show-mobile-menu #tree-filter::-moz-placeholder {
    color: black;
}
.show-mobile-menu #tree-filter::-ms-inputplaceholder {
    color: black;
}
.show-mobile-menu #tree-filter:-ms-inputplaceholder {
    color: black;
}

#load-indicator {
    color: black;
}