.vsts-workitem-statearea {
    color: Black;
    background-color: rgba(25,118,210,.05);
    border-left: 8px solid #1e88e5;
    padding: 2px 5px 2px 0;
    margin: 24px 16px;
    clear: both;
}

.vsts-workitem-statearea td {
    border: none;
}

.vsts-workitem-statearea tbody>tr:nth-child(even) {
    background: transparent;
}
.vsts-workitem-label {
    color: #666666;
}

table.workitem-query-results {
    font-size: 9pt;
}

    table.workitem-query-results td {
        padding-left: 5px;
        padding-right: 10px;
    }
    
/* Work item states */
.vsts-state {
    height: 9px;
    width: 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
    margin-top: 1px;
    position: relative;
    border-color: #bababa;
    background-color: #bababa;
}

ul.vsts-query {
    font-weight: normal;
    font-size: 11pt;
}

li.vsts-query-folder {
    font-weight: bold;
    font-size: 14pt;
}