.vsts-workitem-statearea {
    color: Black;
    background-color: rgba(25,118,210,.05);
    border-left: 8px solid #1e88e5;
    padding: 2px 5px 2px 0;
    margin: 24px 16px;
    clear: both;
}

.vsts-workitem-statearea td {
    border: none;
}

.vsts-workitem-statearea tbody>tr:nth-child(even) {
    background: transparent;
}
.vsts-workitem-label {
    color: #666666;
}

table.workitem-query-results {
    font-size: 9pt;
}

    table.workitem-query-results td {
        padding-left: 5px;
        padding-right: 5px;
    }
    
/* Work item states */
.vsts-state {
    height: 9px;
    width: 9px;
    border-style: solid;
    border-width: 1px;
    border-radius: 50%;
    float: left;
    margin-right: 7px;
    margin-top: 1px;
    position: relative;
    border-color: #efefef;
    background-color: #e0e0e0;
}
.vsts-state-closed {
    border-color: rgb(51, 153, 51);
    background-color: rgb(51, 153, 51);
}
.vsts-state-on-hold {
    border-color: rgb(224, 130, 86);
    background-color: rgb(224, 130, 86);
}
.vsts-state-ready-for-development {
    border-color: rgb(86, 136, 224);
    background-color: rgb(86, 136, 224);
}
.vsts-state-ready-for-internal-testing {
    border-color: rgb(86, 136, 224);
    background-color: rgb(86, 136, 224);
}
.vsts-state-ready-for-client-testing {
    border-color: rgb(86, 136, 224);
    background-color: rgb(86, 136, 224);
}
.vsts-state-ready-for-estimation {
    border-color: rgb(86, 136, 224);
    background-color: rgb(86, 136, 224);
}
.vsts-state-active {
    border-color: rgb(51, 153, 51);
    background-color: rgb(51, 153, 51);
}
.vsts-state-new {
    border-color: rgb(178, 178, 178);
    background-color: rgb(178, 178, 178);
}
