@media only screen and (max-width: 1024px) {
    .header {
        height: 50px !important;
    }
    
    .header .logo {
        margin: 5px 0 0 10px !important;
        max-height: 40px !important;
    }
}

.header {
    background-color: #1A181C;
    height: 140px;
}

    .header .logo {
        margin: 30px 0 0 25px;
    }

.sidebar {
    top: 160px;
}

.toc {
    top: 140px;
}

.content-container {
    padding-top: 140px;
}

.content-container h1 {
    color: #E2001A;
}

.content-container h2 {
    color: #E2001A;
}

blockquote {
    border-left-color: #E2001A;
    background-color: rgba(226, 0, 26, .05);
}

li.kava-auto-link {
    border-left-color: #E2001A;
    background-color: rgba(226, 0, 26, .05);
}

.selectedTopic>a:link {
    color: #E2001A;
}
.selectedTopic>a:visited {
    color: #E2001A;
}
